In [43]:
# The dataset contains insurance charges based on the demographic attributes of customers.

# Develop code in a common programming language 
# (Python, R, Java, C#, C++, etc.) to clean the dataset by 
# removing outliers from BMI column
# imputing all missing values
# and normalizing all columns using min-max normalization.

# Submit both the code and the cleaned dataset in Canvas:

# File name of Code : HW1_Code.[file type] (e.g., HW1_Code.py )
# File name of Result : HW1_CleanedDataset.csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train_data = pd.read_csv('InsuranceCharges.csv')
train_data.head(5)
train_data.info()
train_data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       300 non-null    int64
 1   gender    300 non-null    int64
 2   bmi       296 non-null    float64
 3   children  300 non-null    int64
 4   smoker    300 non-null    int64
 5   charges   292 non-null    float64
dtypes: float64(2), int64(4)
memory usage: 14.2 KB

age         0
gender      0
bmi         4
children    0
smoker      0
charges     8
dtype: int64

In [ ]:
Q1 = train_data['bmi'].quantile(0.25)
Q3 = train_data['bmi'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = train_data[(train_data['bmi'] < lower_bound) | (train_data['bmi'] > upper_bound)]
# Remove outliers and keep rows with null values in 'bmi'
train_data_no_outliers = train_data[
    (train_data['bmi'] >= lower_bound) & (train_data['bmi'] <= upper_bound) | (train_data['bmi'].isnull())
].copy()
train_data_no_outliers.head(20)

    age  gender     bmi  children  smoker      charges
0    19       0  27.900         0       1  16884.92400
1    18       1  33.770         1       0   1725.55230
2    28       1  33.000         3       0   4449.46200
3    33       1  22.705         0       0  21984.47061
4    32       1  28.880         0       0   3866.85520
5    31       0  25.740         0       0   3756.62160
6    46       0  33.440         1       0   8240.58960
7    37       0  27.740         3       0   7281.50560
8    37       1  29.830         2       0   6406.41070
9    60       0  25.840         0       0  28923.13692
10   25       1  26.220         0       0          NaN
11   62       0  26.290         0       1  27808.72510
12   23       1  34.400         0       0   1826.84300
13   56       0  39.820         0       0  11090.71780
14   27       1  42.130         0       1  39611.75770
15   19       1  24.600         1       0   1837.23700
16   52       0  30.780         1       0  10797.33620
17   23       1     NaN         0       0   2395.17155
18   56       1  40.300         0       0  10602.38500
19   30       1  35.300         0       1  36837.46700

In [ ]:
# impute missing values in 'bmi' and 'charges'
train_data_no_outliers['bmi'].fillna(train_data_no_outliers['bmi'].median(), inplace=True)
train_data_no_outliers.dropna(subset=['charges'], inplace=True)
train_data_no_outliers.isnull().sum()

C:\Users\ZJ\AppData\Local\Temp\ipykernel_32180\689060352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_outliers['bmi'].fillna(train_data_no_outliers['bmi'].median(), inplace=True)
C:\Users\ZJ\AppData\Local\Temp\ipykernel_32180\689060352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_outliers['charges'].fillna(train_data_no_outliers['charges'].median(), inplace=True)

age         0
gender      0
bmi         0
children    0
smoker      0
charges     0
dtype: int64

In [46]:
# normalize all columns using min-max normalization
numeric_cols = train_data_no_outliers.select_dtypes(include=[np.number]).columns.tolist()
for col in numeric_cols:
    min_col = train_data_no_outliers[col].min()
    max_col = train_data_no_outliers[col].max()
    train_data_no_outliers[col] = (train_data_no_outliers[col] - min_col) / (max_col - min_col)
train_data_no_outliers.head(5)
# Save the cleaned dataset
train_data_no_outliers.to_csv('HW1_CleanedDataset.csv', index=False)

C:\Users\ZJ\AppData\Local\Temp\ipykernel_32180\2957940756.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_outliers[col] = (train_data_no_outliers[col] - min_col) / (max_col - min_col)
C:\Users\ZJ\AppData\Local\Temp\ipykernel_32180\2957940756.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_outliers[col] = (train_data_no_outliers[col] - min_col) / (max_col - min_col)
C:\Users\ZJ\AppData\Local\Temp\ipykernel_32180\2957940756.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_outliers[col] = (train_data_no_outliers[col] - min_col) / (max_col - min_col)
C:\Users\ZJ\AppData\Local\Temp\ipykernel_32180\2957940756.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data_no_outliers[col] = (train_data_no_outliers[col] - min_col) / (max_col - min_col)